
# global params
# appRevision: ""
# targetRevision: ""
# gitopsNamespace: ""
# gitRepo: ""
# disableAutoSync: "no"
# overrideTenants: "no"

# override to create a maintenance message
maintenanceMessage: ""

tenantGitopsInstances: 1

# For disconnected clusters
enableDisconnected: "false"

enableInfraNodes: "false"

operators:
- name: namespace-configuration-operator
  # disconnectedSource: "cs-community-operator-index-v4-18"
- name: descheduler
  # disconnectedSource: "cs-redhat-operator-index-v4-18"
- name: vertical-pod-autoscaler
  # disconnectedSource: "cs-redhat-operator-index-v4-18"
# - name: keepalived-operator
  # disconnectedSource: "cs-community-operator-index-v4-18"
- name: certmanager-operator
  # disconnectedSource: "cs-redhat-operator-index-v4-18"
# - name: istio-operator
  # disconnectedSource: "cs-redhat-operator-index-v4-18"
- name: gitops-operator
  # disconnectedSource: "cs-redhat-operator-index-v4-18"
- name: compliance-operator
  # disconnectedSource: "cs-redhat-operator-index-v4-18"
# - name: local-storage-operator
#   disconnectedSource: "cs-redhat-operator-index-v4-18"
# - name: lvms-operator
  # disconnectedSource: "cs-redhat-operator-index-v4-18"
- name: kargo
  namespace: kargo
- name: kyverno
  namespace: kyverno
  
clusterComponents:
- name: user-sandbox
# - name: keepalived-config
- name: kyverno-config
# - name: storage-config
- name: openshift-console-plugin
- name: external-dns
  namespace: "external-dns"
- name: certmanager-config
# - name: istio-config

# enable this for gitops cluster updates!
# not v4.18 and disconnected ready
# - name: cluster-version
#   disableFinalizers: "yes" # needs this otherwise clusterversion would be deleted
